* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

h1, h2, h3 {
    font-family: "Pirata One", system-ui;
}

body, input, textarea, button {
    font-family: "Comic Neue", cursive;
}

a {
    text-decoration: none;
}

header {
    background-color: #984602;
    padding: 16px;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
    margin-left: 16px;
    font-size: 24px;
    text-decoration: none;
    
}

header a {
    text-decoration: none;
    color: #000;
    font-family: "Pirata One", system-ui;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 16px;
}

ul {
    list-style: none;
}

li {
    font-size: 1.2em;
    margin-bottom: 16px;
    
}

p {
    font-size: 1.2em;
    margin-bottom: 16px;
}

#spaghetti {
    width: 1280px;
}

#abaut .container{
    display: block;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

#refer .contact-row{
    display: flex;
    justify-content: space-around;
    
}

#refer .container h2{
    display: block;
    margin: 0 100px;
}

form input, form textarea, form button{
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
    
}

input:focus, textarea:focus {
    outline-style: dotted;
}

form textarea {
    resize: none;
    height: 180px;
}

button {
    background-color: black;
    color: #fff;
}

button:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000;
}

footer {
    display: flex;
    align-items: center;
    background-color: #984602;
    padding: 8px;
    font-weight: bold;
    
}

footer p {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

